<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./images/favicon.png" />
		<title>URL Shortener</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<section class="container mx-auto pt-4">
			<h1 class="text-center fw-bold">URL Shortener</h1>
			<form 
				action="/shorturls"
				method="POST"
				class="form-inline my-4"
			>
				<input 
					type="url" 
					placeholder="Enter URL here..."
					name="fullURL"
					class="form-control col my-2"
					required
				/>
				<button 
					type="submit"
					class="btn btn-primary col-12 my-2"
				>
					Shrink URL
				</button>
			</form>
		</section>
		<section class="container mx-auto overflow-auto">
			<table class="table table-striped table-responsive">
				<thead>
					<tr>
						<th>Full URL</th>
						<th>Short URL</th>
						<th>Clicks</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
				  <% shortURLs?.reverse()?.forEach(({ fullURL, shortURL, clicks }) => { %>
						<tr>
							<td>
								<a href="<%= fullURL %>" target="_blank" >
									<%= fullURL %>
								</a>
							</td>
							<td>
								<a href="/<%= shortURL %>" target="_blank" >
									<%= shortURL %>
								</a>
							</td>
							<td class="text-center">
								<%= clicks %>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</section>
	</body>
</html>