<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./images/favicon.png" />
		<title>URL Shrinker</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body class="container">
		<section class="pt-4">
			<h1 class="text-center fw-bold">URL Shrinker</h1>
			<form 
				action="/shorturls"
				method="POST"
				class="form-inline my-4"
			>
				<input 
					type="url" 
					placeholder="Enter URL here..."
					name="fullURL"
					class="form-control col my-2"
					required
				/>
				<button 
					type="submit"
					class="btn btn-primary col-12 my-2"
				>
					Shrink URL
				</button>
			</form>
		</section>
		
		<section class="overflow-auto my-2">
			<table class="table table-striped table-responsive">
				<thead>
					<tr>
						<th>Full URL</th>
						<th>Short URL</th>
						<th>Clicks</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
				  <% shortURLs?.reverse()?.forEach(({ fullURL, shortURL, clicks }) => { %>
						<tr>
							<td>
								<a href="<%= fullURL %>" target="_blank" >
									<%= fullURL %>
								</a>
							</td>
							<td>
								<a href="/<%= shortURL %>" target="_blank" >
									<%= shortURL %>
								</a>
							</td>
							<td class="text-center">
								<%= clicks %>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</section>
    <!--
		<div class="my-2 w-100 d-flex justify-content-center">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">Prev</span>
							</a>
						</li>
						
						<% [1, 2, 3].forEach((_, i) =>{ %>
					  	<li class="page-item">
								<a class="page-link" href="#">
								  <%= i+1 %>
							  </a>
							</li>
						<% }) %>
						
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">Next</span>
							</a>
						</li>
					</ul>
				</nav>
		</div>
    -->
	</body>
</html>